*,
body {
	font-weight: normal;
	padding-left: 2pt;
	padding-top: 2pt;
}

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

ul {
	list-style: none;
	padding: 0px;
}

#search {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 8pt;
}

.item {
	padding: 4pt;
}

.name {
	font-weight: bold;
}

.description {
	font-style: italic;
}

.image {
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.image:hover {
	transform: scale(1.5)
}

.copy {
	margin-left: 8px;
	margin-bottom: 8px;
	background-color: #f0f0f0;
	border-radius: 1px;
	border-width: 0px;
	transition-duration: 0.3s;
}

.copy:hover {
	background-color: #d0d0d0;
}