*, body {
	font-weight: normal;
	padding-left: 2pt;
	padding-top: 2pt;
}

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

ul {
	list-style: none;
	padding: 0px;
}

#search {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.name {
	font-weight: bold;
}

.description {
	font-style: italic;
}

.image {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

.image:hover {
	transform: scale(2.0)
}